version: "3.8"
services:
  backend:
    build: .
    container_name: backend
    ports:
      - "5000:5000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - backend


