version: "3.8"
services:
  backend:
    build: .
    container_name: backend
    volumes:
      - ./public/menu.json:/app/menu.json
    ports:
      - "5000:5000"

  nginx:
    image: nginx:alpine
    volumes:
      - ./public/images:/usr/share/nginx/html/images
      - ./src/css:/usr/share/nginx/html/css
      - ./src/frontend:/usr/share/nginx/html
      - ./src/frontend/admin/:/usr/share/nginx/html/admin/
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"
    depends_on:
      - backend
    container_name: nginx

